<modal class="form" title="Edit Zone" show="show" visible="visible" no-close>
    <div ng-if="visible">
        <validated-form submit-fn="save" model="zone">
            <div class="half-width">
                <form-field model="name"></form-field>
            </div>
            <div class="half-width">
                <form-field model="tags"></form-field>
            </div>
            <form-text-area model="description"></form-text-area>
            <form-json-area model="settings"></form-json-area>
            <form-actions>
                <form-submit>Save</form-submit>
            </form-actions>
        </validated-form>
    </div>
    <menu>
        <button class="cancel" ng-touch="cancel()">Cancel</button>
    </menu>
    <div style="clear: both"></div>
</modal>
