<modal class="form" title="New Device" show="show" visible="visible" no-close>
    <div ng-if="visible">
        <validated-form submit-fn="create" model="module">
            <form-select model="dependency_id" source="Dependency" placeholder="Select a Dependency"></form-select>
            <div ng-show="!system">
                <form-select model="control_system_id" source="System" placeholder="Select a System"></form-select>
                <form-select model="edge_id" source="Node" placeholder="Select primary server"></form-select>
            </div>
            <p ng-show="system">
                System: <span>{{system.name}}</span><br />
                Server: <span>{{system.edge.name}}</span>
            </p>
            <form-field model="ip"></form-field>
            <form-field model="port"></form-field>
            <form-checkbox model="tls"></form-checkbox>
            <form-checkbox model="udp"></form-checkbox>
            <form-checkbox model="makebreak"></form-checkbox>
            <form-checkbox model="ignore_connected"></form-checkbox>
            <form-field model="uri"></form-field>
            <form-text-area model="notes"></form-text-area>
            <form-json-area model="settings"></form-json-area>
            <form-field model="custom_name"></form-field>
            <form-actions>
                <form-submit>Create</form-submit>
            </form-actions>
        </validated-form>
    </div>
    <menu>
        <button class="cancel" ng-touch="cancel()">Cancel</button>
    </menu>
    <div style="clear: both"></div>
</div>
