<modal class="form" title="New Trigger" show="show" visible="visible" no-close>
    <div ng-if="visible">
        <validated-form submit-fn="create" model="trigger">
            <form-field model="name"></form-field>
            <form-text-area model="description"></form-text-area>
            <form-actions>
                <form-submit>Create</form-submit>
            </form-actions>
        </validated-form>
    </div>
    <menu>
        <button class="cancel" ng-touch="cancel()">Cancel</button>
    </menu>
    <div style="clear: both"></div>
</div>
