<modal class="user-form" title="Edit User" show="show" visible="visible" no-close>
    <div ng-if="visible">
        <validated-form submit-fn="save" model="user">
            <form-field model="name"></form-field>
            <form-field model="email"></form-field>
            <form-field model="card_number"></form-field>
            <form-checkbox model="supervisor"></form-checkbox>
            <form-checkbox model="student"></form-checkbox>
            <form-checkbox model="support"></form-checkbox>
            <form-checkbox model="sys_admin"></form-checkbox>

            <form-field model="password"></form-field>
            <form-field model="password_confirmation"></form-field>

            <form-actions>
                <form-submit>Save</form-submit>
            </form-actions>
        </validated-form>
    </div>
    <menu>
        <button class="cancel" ng-touch="cancel()">Cancel</button>
    </menu>
    <div style="clear: both"></div>
</modal>
